@page
@model Lineee.Pages.Talks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Talk[0].FromNameID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Talk[0].ToNameID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Talk[0].DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Talk[0].Message)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Talk) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromNameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToNameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
